
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
{
background: url(1920/b21.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }

.share-facebook {
background-position: 0px 0px;
}

.share-facebook:hover {
background-position: 0px -40px;
}

.share-twitter {
background-position: -40px 0px;
}

.share-twitter:hover {
background-position: -40px -40px;
}

.share-pinterest {
background-position: -80px 0px;
}

.share-pinterest:hover {
background-position: -80px -40px;
}

.share-linkedin {
background-position: -240px 0px;
}

.share-linkedin:hover {
background-position: -240px -40px;
}


.share-googleplus {
background-position: -120px 0px;
}

.share-googleplus:hover {
background-position: -120px -40px;
}


.share-stumbleupon {
background-position: -360px 0px;
}

.share-stumbleupon:hover {
background-position: -360px -40px;
}

.share-email {
background-position: -320px 0px;
}

.share-email:hover {
background-position: -320px -40px;
}


.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(1920/a21.png) center center no-repeat;
overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21ldn { background-position: -243px -33px; }
.jssora21rdn { background-position: -303px -33px; }