.nav li {
  display: inline;
  text-transform: uppercase;
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
}

.nav {
	background-color: #000000;
}

.nav ul {
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.jumbotron {
  background-image: url("1920/2.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.jumbotron .container {
    position: relative;
}

.jumbotron h1 {
	color: #ffffff;
}

.projects {
	background-color: #000000;
}